* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {text-decoration: none;}

ul, ol {padding: 0;}

.container-fluid, .row, .col {
	border: 1px solid red;
}

/* Header */

header {
	height: 100px;
}

.search-bar {
	width: 100%;
	background-color: #E5E5E5;
	color: #757575;
	border: 0;
	padding: 10px 10px;
	border-radius: 5px;
}

.search-bar .search-icon {
	padding-right: 10px;
	color: #000000;
	cursor: pointer;
} 

.search-bar input {
	background-color: transparent;
	border: 0;
}

header ul {
	list-style: none;
}

.header-menu {
	margin: 0;
	gap: 10px;
}

.header-menu a {
	color: #5A5858;
}

.header-img-mobile {
	width: 50px;
}

/* Wrapper */

.wrapper {
	height: calc(100vh - 100px);
}

/* Aside */

aside {
	height: 100%;
	width: auto;
	background-color: #0B1D32;
	flex-shrink: 0;
}

aside ul {
	list-style: none;
}

aside.text-white a {
	color: #FFFFFF;
}

aside ul li:hover, .admin:hover {
	background-color: #FFFFFF;
}

aside ul li:hover a, .admin:hover a {
	color: #0B1D32;
}

/* Main */

main {
	height: 100%;
	width: 100%;
	overflow-y: auto;
}

.top-bar-blue {
	background-color: #3870E0;
}

.app-tag {
	background-color: #2C5AB4;
	border-radius: 1000000px;
	padding: 0.25em 0.5em;
}

.apps > * {
	margin-right: 0.5em;
}

a#plus {
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
}

a#plus:hover {
	background-color: #FFFFFF;
	color: #3870E0;
}

/* Offcanvas */

#add-new-student {
	width: 100%;
}

/* Classes List */

.class-icon {
	width: 2em;
	height: 2em;
	background-color: #E16E59;
	color: #FFFFFF;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	line-height: 2em;
}

tbody tr:hover {
	background-color: #E5E5E5;
}

.tag {
	color: #FFFFFF;
	font-size: 0.7em;
	padding: 0.25em 0.5em;
	border-radius: 5px;
}

.tag-done {
	background-color: #408558;
}

.tag-process {
	background-color: #F5C344;
}

.tag-failed {
	background: #CB444A;
}

.actions {
	word-spacing: 0.5em;
}

.actions i {
	width: 2em;
	height: 2em;
	border: 1px solid #6E757C;
	color: #6E757C;
	border-radius: 8px;
	text-align: center;
	vertical-align: middle;
	line-height: 2em;
}

.actions i.fa-trash:hover {
	color: #FFFFFF;
	background-color: #CB444A;
	border-color: #CB444A;
}

.actions i.fa-pen:hover {
	color: #FFFFFF;
	background-color: #3870E0;
	border-color: #3870E0;
}

/* Active Users */

.active-users a.card-link {
	text-decoration: underline;
}

/* Desktop */

@media screen and (min-width: 992px) {
	aside {
		width: auto;
	}

	th.classe {
		width: 50%;
	}

	#add-new-student {
		width: 50%;
	}
}